.app {
  margin: 8px;
}

.categories-btn {
  all: unset;
  font-weight: 700;
  margin: 2px;
  padding: 12px;
}

.active {
  background-color: #bdbdc1;
}

.inactive {
  background-color: #efeff0;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.links-container {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.products-item {
  margin: 16px;
  width: 25%;
}

.product {
  display: flex;
  flex-direction: column;
}

.heart-image {
  width: 20px;
  align-self: flex-end;
}

.product-link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-image {
  margin-bottom: auto;
  margin-top: auto;
  height: 300px;
  object-fit: contain;
  width: 100%;
}

.product-title {
  overflow: hidden;
  padding-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header {
  font-size: 2em;
}

.product-details-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
}

.product-details-image {
  margin-bottom: auto;
  margin-top: auto;
  object-fit: contain;
  min-width: 50%;
  max-width: 80%;
}

@media screen and (max-width: 900px) {
  .products-item {
    width: 33%;
  }
}
@media screen and (max-width: 600px) {
  .products-item {
    width: 50%;
  }
}

@media (min-width: 600px) {
  .product-details-container {
    flex-direction: row-reverse;
  }
}
